<% @orders.each do |order|%>
  <div class="container order-item">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      
      <div class="panel-heading order">Order# <%= order.sn%></div>
      <div class="col-md-6 panel-info">
        <table class="table info-box">
          
          <% order.order_items.each do |item| %>
            <tr>
              <td><%= item.product.name%></td>
              <td> <%= item.quantity%></td>
              <td>$<%= item.price %></td>    
              
            </tr>
              
          <% end %>
          <tr>
            <td>Subtotal</td>
            <td></td>
            <td>$<%=order.amount%></td>
          </tr>
        </table>

        <div class="panel panel-default">
          <div class="panel-heading">Shipping information</div>
          <div class="col-md-12">
            <h5>
              <%= order.name%>, 
              <%= order.phone%>, 
              <%= order.address%>
            </h5>
              
          </div>
          
            
        </div>      
      </div>
      
      <div class="col-md-6">
        <h4>Payment Status: <%= order.payment_status%></h4>
        <h4>Shipping Status: <%= order.shipping_status%></h4>

        <div class="button-group">
          
          <button class="btn btn-default">Credit</button>
          <button class="btn btn-default">Web ATM</button>
          <button class="btn btn-default">ATM</button>
          <%= link_to "Cancel",order_path(order.id),method: :DELETE,class:"btn btn-default"%>
        </div>
      </div>
      
        
    </div>
    
  </div>
  <hr>
<% end %>