<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Shopping List</div>
    

    <!-- Table -->
    <table class="table shop-table" >
      <tr>
        <th></th>
        <th></th>
        <th>Price</th>
        <th>Qunatity</th>
      </tr>
      <% @cart_items.each do |item| %>
        <tr id="<%= item.product.id%>">
          <td>
            <img src="<%= item.product.image%>"%>
          </td>
          <td valign="center"><%= item.product.name%></td>
          
          <td>$<%= item.product.price%></td>
          <td>
            <span class="minus-item text-muted glyphicon glyphicon-minus"></span>
            <span class="text-muted quantity"> <%= item.quantity %> </span>
            <span class="plus-item text-muted glyphicon glyphicon-plus"></span>
          </td>
          <td>
            $<%= item.product.price*item.quantity%>
            <% @subtotal+=item.product.price*item.quantity%>
            <div style="text-align: right; float:right;">
              <span class="delete-item text-danger glyphicon glyphicon-trash"></span>
            </div>     
          </td>
          
        </tr>
      <% end%>
      
      <td></td>
      <td></td>
      <td>Subtotal</td>
      <td></td>
      <td>$<%= @subtotal%></td>
    </table>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Shipping information</div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Name</span>
      <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Email</span>
      <input type="text" class="form-control" placeholder="Eamil" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Phone</span>
      <input type="text" class="form-control" placeholder="Phoen" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Address</span>
      <input type="text" class="form-control" placeholder="Address" aria-describedby="basic-addon1">
    </div>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Payment method</div>
    <form>
      <input type="radio" name="gender" value="male" unchecked> ATM<br>
      <input type="radio" name="gender" value="male" unchecked> Credit Card<br>
    </form>
      
  </div>
</div>

<script type="text/javascript">
  $("#cart-list").on("click",".delete-item",function(event){
    var id = event.target.parentNode.parentNode.parentNode.parentNode.id;

    $.ajax({
      url: "/cart_items/" + id,
      method: "DELETE",
      dataType: "json",

      success: function(data){
        var total_price = $(".subtotal.row").find("#total-price");
        var total_price_value = Number(total_price.html().replace('$ ',''));
        $(total_price).html("$ "+(total_price_value-Number(data["minus_price"])));

        $("#cart-list").find("#"+data["id"]).remove();
      }
    })
  });

  $("#cart-list").on("click",".plus-item",function(event){
    var id = event.target.parentNode.parentNode.parentNode.parentNode.id;

    $.ajax({
      url: "/cart_items/" + id +"/plus_quantity",
      method: "POST",
      dataType: "json",
      success: function(data){
        var total_price = $(".subtotal.row").find("#total-price");
        var total_price_value = Number(total_price.html().replace('$ ',''));
        $(total_price).html("$ "+(total_price_value+Number(data["price"])));

        var cart_item = $("#cart-list").find("#"+data["id"]);
        $(cart_item).find(".quantity").html(data["quantity"]);
      }
    })
  });

  $("#cart-list").on("click",".minus-item",function(event){
    var id = event.target.parentNode.parentNode.parentNode.parentNode.id;

    $.ajax({
      url: "/cart_items/" + id +"/minus_quantity",
      method: "POST",
      dataType: "json",
      success: function(data){
        var total_price = $(".subtotal.row").find("#total-price");
        var total_price_value = Number(total_price.html().replace('$ ',''));
        $(total_price).html("$ "+(total_price_value-Number(data["price"])));

        var cart_item = $("#cart-list").find("#"+data["id"]);
        $(cart_item).find(".quantity").html(data["quantity"]);
      }
    })
  });
</script>