<div class="container">
  <div class="row">
    <% @products.each do |product|%>
      <div class="col-md-1" style="width:20%">
        <div class="product-item clearfix">
          <%=image_tag product.image %>
          <div class="item-text">
            <h4><%= product.name %></h4>
            <div class="product-description">
              <%= truncate(product.description, length: 40 )%>
            </div>
            
            <h5>$<%= product.price %></h5>
          
          </div>
            
        </div>
      </div>  
    <% end %> 
    
  </div>
  <div ></div>
  <div class="text-center">
     <%= paginate @products %>
  </div>
 
</div>