<div class="container">
  <div class="row">
    <div class="col-md-9">
      <% @products.each do |product|%>
        <div class="col-md-1" style="width:20%" id="<%= product.id%>">
          <div class="product-item clearfix">
            <%=image_tag product.image %>
            <div class="item-text">
              <h5><%= product.name %></h5>
              <div class="product-description">
                <%= truncate(product.description, length: 40 )%>
              </div>
              
              <h6>$<%= product.price %></h6>
              <button id="add_to_cart" class="btn btn-success">add to Cart</button>
            
            </div>
              
          </div>
        </div>  
      <% end %>
    </div>
    <div class="col-md-3"">
      <h3>Cart</h3>
      <hr>
      <% if @cart_products != nil %>
        <div id="cart-list">
          <% @cart_products.each do |product|%>
            <div id="<%= product.id%>">
              <div class="product-item clearfix" >
                <div class="product-image col-md-6">
                  <img src="<%= product.image%>">
                </div>
                <div class="col-md-6">
                  <h5><%= product.name %></h5>                         
                </div>                
              </div>
            </div>              
          <% end %>
        </div>          
      <% end %>
    </div>
      
  </div>
  <div class="text-center">
     <%= paginate @products %>
  </div>
 
</div>

<script type="text/javascript">
  $(".product-item").on("click", "#add_to_cart", function(event){
    var id  = event.target.parentNode.parentNode.parentNode.id;

    $.ajax({
      url: "/products/add_to_cart/?id=" + id,
      method: "POST",
      dataType: "json",      
      success: function(data){
        var cart_item = document.createElement("div");
        var photo = data["image"]
        var urlBase = getRootUrl().slice(0, -1);
        var d = new Date();
        cart_item.id= data["id"];
        $(cart_item).html($("#cart-product-template").html());
        console.log(data["image"]);
        
        var p_img = $(cart_item).find(".product-image");
        p_img.append('<img>');
        p_img.find("img").attr("src",photo);
        $(cart_item).find("h5").html(data["name"]);
        $("#cart-list").append(cart_item);
      }
    })

    
  });

  function getRootUrl() {
  return window.location.origin?window.location.origin+'/':window.location.protocol+'/'+window.location.host+'/';
}
</script>

<script type="text/template" id="cart-product-template">
  <div class="product-item clearfix" >
    <div class="product-image col-md-6">
    
    </div>
    <div class="col-md-6">
      <h5></h5>                         
    </div>                
  </div>
</script>