<div class="container">
  <div class="row">
    <div class="col-md-9">
      <% @products.each do |product|%>
        <div class="col-md-1" style="width:20%">
          <div class="product-item clearfix">
            <%=image_tag product.image %>
            <div class="item-text">
              <h5><%= product.name %></h5>
              <div class="product-description">
                <%= truncate(product.description, length: 40 )%>
              </div>
              
              <h6>$<%= product.price %></h6>
              <%= link_to "add to Cart" ,add_to_cart_products_path(id: product.id),method: :post, class: "btn btn-success"%>
            </div>
              
          </div>
        </div>  
      <% end %>
    </div>
    <div class="col-md-3">
      <h3>Cart</h3>
      <hr>
      <% if @cart_products != nil %>
        <% @cart_products.each do |product|%>
          <div class="product-item clearfix">
              <%=image_tag product.image %>
              <div class="item-text">
                <h5><%= product.name %></h5>
                <div class="product-description">
                  <%= truncate(product.description, length: 40 )%>
                </div>
          
              </div>
                
            </div>
        <% end %>
      <% end %>
    </div>
      
  </div>
  <div class="text-center">
     <%= paginate @products %>
  </div>
 
</div>